In [1]:
import pandas as pd
data=pd.read_csv("F:\Kritisha\Sample_Data\Sample_Data.csv")
data.head()

,id,token,name,age,age_unit,province_id,district_id,municipality_id,org_code,tole,...,register_date_en,register_date_np,malaria,id_card_type,id_card_type_other,dose_details,case_uid,is_infected_covid_before,is_received_vaccine,reasons_other
0,121,7a8a70d9-c23c-4feb-9edd-d894e5a580bf,Tek Bahadur Bista,28,0,7,69,680,JY56E,Bajuda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
1,122,217488bf-8b21-42a1-847d-b3ec87460e46,Tek Bahadur Bista,28,0,7,69,680,JY56E,Bajuda,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2,125,297100e4-ea9a-4b8a-a2a0-0a49e5cd0813,Pratima Neupane,19,0,3,29,314,WR59C,Churkharka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
3,142,64ae2068-ee60-4b46-8acd-04a52274d39f,Bal Bd. Sarki,33,0,7,71,705,KR72R,khalla,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
4,143,b914f48b-6f82-4b3b-92d4-cf6d320632a4,Dipak Singh Sarki,44,0,7,71,705,KR72R,khalla,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN